<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-sm-2" *ngFor="let pokemon of listaDePokemon | async">
      <div *ngIf="pokemon.numero !== 151">
        <div class="card" data-toggle="modal" data-target="#pokemon-info" (click)="setPokemonSeleccionado(pokemon)">
          <img class="card-img-top" [src]="pokemon.imgURL" [alt]="pokemon.nombre">
          <div class="card-body">
            <h5 class="card-title">#{{pokemon.numero}} {{pokemon.nombre}}</h5>
          </div>
        </div>
      </div>
      <div *ngIf="pokemon.numero === 151 && (!respuestaFueDada || !laRespuestaDadaFueCorrecta)" class="card" data-toggle="modal"
        data-target="#pokemon-question" (click)="setPokemonSeleccionado(pokemon)">
        <img class="card-img-top" style="height: 192.83px;" src="./assets/img/who-is.jpg" alt="?">
        <div class="card-body">
          <h5 class="card-title">#151 ???</h5>
        </div>
      </div>
      <div *ngIf="pokemon.numero === 151 && (respuestaFueDada && laRespuestaDadaFueCorrecta)" class="card" data-toggle="modal"
        data-target="#pokemon-info" (click)="setPokemonSeleccionado(pokemon)">
        <img class="card-img-top" [src]="pokemon.imgURL" [alt]="pokemon.nombre">
        <div class="card-body">
          <h5 class="card-title">#{{pokemon.numero}} {{pokemon.nombre}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pokemon-info" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-img-container">
          <img [src]="pokemonSeleccionado.imgURL" class="modal-img" [alt]="pokemonSeleccionado.nombre">
        </div>
        <div>
          <h5 class="card-title">#{{pokemonSeleccionado.numero}} {{pokemonSeleccionado.nombre}}</h5>
          <p>
            {{pokemonSeleccionado.descripcion}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pokemon-question" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form #pokeForm="ngForm" role="form" novalidate>
        <div class="modal-header">
          <h5 class="modal-title">¿Qué es Angular?</h5>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <input id="opcion-1" class="form-check-input" type="radio" name="respuesta" value="1" (change)="onCambioDeRespuesta(1)" [(ngModel)]="checked">
            <label class="form-check-label" for="opcion-1">
              Es una librería para el desarrollo de aplicaciones web.
            </label>
          </div>
          <div class="form-check">
            <input id="opcion-2" class="form-check-input" type="radio" name="respuesta" value="2" (change)="onCambioDeRespuesta(2)" [(ngModel)]="checked">
            <label class="form-check-label" for="opcion-2">
              Es un framework para el desarrollo de aplicaciones web modernas de tipo SPA.
            </label>
          </div>
          <div class="form-check">
            <input id="opcion-3" class="form-check-input" type="radio" name="respuesta" value="3" (change)="onCambioDeRespuesta(3)" [(ngModel)]="checked">
            <label class="form-check-label" for="opcion-3">
              Es una herramienta para el desarrollo de aplicaciones nativas para Android.
            </label>
          </div>
          <div class="form-group">
            <label for="user-name">Nombre:</label>
            <input type="text" class="form-control" id="user-name" placeholder="Ingresa tu nombre" name="user-name" [(ngModel)]="nombre"
              required>
          </div>
          <label class="text-success" *ngIf="respuestaFueDada && laRespuestaDadaFueCorrecta">Respuesta Correcta</label>
          <label class="text-danger" *ngIf="respuestaFueDada && !laRespuestaDadaFueCorrecta">Respuesta Incorrecta</label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="validarRespuesta()" [disabled]="pokeForm.invalid">Responder</button>
        </div>
      </form>
    </div>
  </div>
</div>