<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-sm-2" *ngFor="let pokemon of listaDePokemon">
      <div class="card" data-toggle="modal" data-target="#pokemon-info" (click)="setPokemonSeleccionado(pokemon)">
        <img class="card-img-top" [src]="pokemon.imgURL" [alt]="pokemon.nombre">
        <div class="card-body">
          <h5 class="card-title">#{{pokemon.numero}} {{pokemon.nombre}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="pokemon-info" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <img [src]="pokemonSeleccionado.imgURL" [alt]="pokemonSeleccionado.nombre">
        </div>
        <div>
          <h5 class="card-title">#{{pokemonSeleccionado.numero}} {{pokemonSeleccionado.nombre}}</h5>
          <p>
            ...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>